h1 {
    color: cornflowerblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

table,
th,
td {
    border: 1px solid;
    margin: auto;
    padding: 5px;
    border-collapse: collapse;
    font-size: 25px;


}

td {
    height: 30px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    background-color: darkcyan
}

div {
    text-align: center;
}

.btn {
    margin-bottom: 20px;
    font-size: 20px
}

img {
    margin-bottom: 20px;
    display: inline;

}

.counter {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: rgb(230, 105, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.footer {

    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red
}